---
layout: default
---


<div class="lo-ingredients">
  <div class="lo-ingredients__block">
    <h3>Mash</h3>
    <ul class="ingredients">
      {% for grains_hash in page.grains %}
        {% for grain in grains_hash %}
          <li class="ingredient">
            <span class="ingredient__size">{{ grain[1] }}</span>
            {% for g in site.data.grains %}
              {% if g.id == grain[0] %}
                <span class="ingredient__name">{{ g.name }}</span>
              {% endif %}
            {% endfor %}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div class="lo-ingredients__block">
    <h3>Boil</h3>
    <ul class="ingredients">
      {% for hops_hash in page.hops %}
        {% for hop in hops_hash %}
          <li class="ingredient">
            <span class="ingredient__size">{{ hop[1] }}</span>
            {% for h in site.data.hops %}
              {% if h.id == hop[0] %}
                <span class="ingredient__name">{{ h.name }}</span>
              {% endif %}
            {% endfor %}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div class="lo-ingredients__block">
    <h3>Fermentation</h3>
    <ul class="ingredients">
      {% for yeast in page.yeasts %}
        <li class="ingredient">
          {% for y in site.data.yeasts %}
            {% if y.id == yeast %}
              {{ y.name }}
            {% endif %}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{{ content }}